
  <div class="col-xs-3">
      <%= image_tag current_user.image_url, :class => "img-thumbnail" %>
  </div>

  <div class="col-xs-3">
    <ul>
      <li>Followers:      <%= @person.followers %></li>
      <li>Following:      <%= @person.following %></li>
      <li>Starred Repos:  <%= @person.starred %></li>
    </ul>
  </div>
