<h1><%= current_user.nickname %>'s Recent Commits</h1>

  <table>
    <thead>
      <tr>
        <th width="250">Repository</th>
        <th scope = "col">Date</th>
      </tr>
    </thead>
    <% @commits.each do |commit| %>
      <tr>
        <td><%= commit.repo_name %></td>
        <td><%= commit.date %></td>
      </tr>
    <% end %>
  </table>
